html, body, *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
  background-image: url(https://wallpaperaccess.com/full/7930058.jpg);

}


h1 {
    font-size: 100px;
 text-align: center;
 color: slateblue;
 font-weight: bolder;
  
}

.flex-container {
    display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
 
 

}


.flex-box {
    font-family: poppins;
    font-size: 3rem;
    width: 50rem;
    height: 60rem;
    background-color: darkblue;
    text-align: center;
    border-radius: 2rem;
    margin-top: 10rem;
  margin-left: 2rem;
  box-shadow: 20px 20px 15px #4f5aaa
    

}
#img {
    width: 96%;
    height: 45rem;
    border-radius: 2rem;
    object-fit: cover;
  margin-top: 2rem;

}
h2{
    margin-top: 1rem;
}
.subheader, span,#names{
 color: white;
}
#names{
   font-size: 3rem; 
   font-weight: bold;
}
/* .parent{

    font-size: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.child{
    
    width: 28%;
    height: 599px;
}
.child-1{
    border: 3px solid blue;
}
.child-2{
    border: 3px solid red;
}
.child-3{
    border: 3px solid purple;
} */