html, body, *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    

}

@media screen and (max-width: 500px) {
/*     font-size: 2px; */
 }

html{
    background: linear-gradient(rgb(143, 38, 192),rgb(173, 19, 19));
}


h1 {
    
    font-size: 150px;
 text-align: center;
 color: rgba(253, 253, 253, 0.836);
 text-shadow: 0 0 2rem #e2cbec, 0 0 3rem #cdd2ff,0 0 5rem #ffb1fb;
 font-weight: bolder;
 
}
.header-title:hover {
scale: 1.5;
}

.flex-container {
    display: flex;
    flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
 
 

}


.flex-box {
    font-family: poppins;
    font-size: 3rem;
    width: 45rem;
    height: 65rem;
    background-color: darkblue;
    text-align: center;
    border-radius: 1rem;
    margin-top: 10rem;
  margin-left: 2rem;
  box-shadow: 20px 20px 15px #4f5aaa;
  backdrop-filter: blur(5px) saturate(180%);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  background-color: rgba(70, 38, 169, 0.6);
  border-radius: 12px;
  border: 10px solid rgba(209, 213, 219, 0.3);
  transition: all 0.2s;

}
.flex-box:hover {
   scale:1.1;
}
#img {
    width: 96%;
    height: 45rem;
    border-radius: 2rem;
    object-fit: cover;
  margin-top: 2rem;

}
h2{
    margin-top: 1rem;
}
.subheader, span,#names{
 color: white;
}
#names{
   font-size: 3rem; 
   font-weight: bold;
}
.flex-box:

/* .parent{

    font-size: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.child{
    
    width: 28%;
    height: 599px;
}
.child-1{
    border: 3px solid blue;
}
.child-2{
    border: 3px solid red;
}
.child-3{
    border: 3px solid purple;
} */