html, body, *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 62.5%; /* Normally 100% is 16px we want the size to be 10px so we do 62.5% */
    font-family: 'Poppins', sans-serif;

}


h1 {
    font-size: 100px;
    text-align: center;
}

.flex-container {
    display: flexbox;
}

.flex-box {
    font-family: poppins;
    font-size: 4rem;
    width: 50rem;
    height: 65rem;
    background-color: lightgreen;
    text-align: center;
    padding-top: 3rem;
    border-radius: 2rem;
}
#img {
    width: 80%;
    height: 50rem;
    border-radius: 2rem;
}

.span{
   
}
h2 {
   margin-top: 1rem;
}
/* .parent{

    font-size: 30px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.child{
    
    width: 28%;
    height: 599px;
}
.child-1{
    border: 3px solid blue;
}
.child-2{
    border: 3px solid red;
}
.child-3{
    border: 3px solid purple;
} */